<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Welcome</title>

      <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
      <script src="/jquery-3.1.1.slim.min.js"></script>
      <script src="/tether.min.js"></script>
      <script src="/bootstrap.min.js"></script>
      <link href="/bootstrap.min.css" rel="stylesheet"></link>
      <link href="/navbar-top-fixed.css" rel="stylesheet"></link>
   </head>
   <body>
      <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2>
      <a th:href="@{/}">Main page</a>
       
   </body>
    
</html>