<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <style>
div.gallery {
	margin: 15px;
	float: left;
	width: 250px;
}

div.gallery img {
	width: 100%;
	height: 25%;
}
</style>
    <link href="/bootstrap.min.css" rel="stylesheet"></link>

    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css"/>
</head>
<body>

<div th:each="file : ${files}">
    <div class="gallery" th:id="${file.fileNameId}">
        <a target="_blank" th:href="${file.URI}"> <img th:src="${file.URI}" /></a>
        <button type="button" class="btn btn-danger btn-sm btn-block" id="delete-btn" th:blog="${file.blog}" th:data-type="${file.fileNameId}">Delete</button>
        <button type="button" class="btn btn-primary btn-sm btn-block" id="approve-btn" th:blog="${file.blog}" th:data-type="${file.fileNameId}">Approve</button>
    </div>
</div>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/main.js"></script>

</body>
</html>