<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <script src="/jquery-3.1.1.slim.min.js"></script>
    <script src="/tether.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <style>
div.gallery {
	margin: 15px;
	float: left;
	width: 250px;
}

div.gallery img {
	width: 100%;
	height: 25%;
}
</style>
    <link href="/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/navbar-top-fixed.css" rel="stylesheet"></link>
</head>
<body>

<div th:each="file : ${files}">
    <div class="gallery">
        <a target="_blank" th:href="${file}"> <img th:src="${file}" />
        </a>
    </div>
</div>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Url</th>
      <th scope="col">Last Update</th>
    </tr>
  </thead>
    <tbody>
    <tr th:each ="blog : ${dirs}" scope="row">
        <td th:utext="${blog.name}">...</td>
        <td th:utext="${blog.url}">...</td>
        <td th:utext="${blog.lastUpdate}">...</td>
    </tr>
  </tbody>
</table>


</body>
</html>